{% extends 'jicheng3.html' %}
<!DOCTYPE html>
<html>
<head>
    {% block dibu %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Cloudy town</title>
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Themeton">
    <meta name="description" content="Cloudy Town - Simple Blog HTML Template">
    <meta name="author" content="Themeton">
    <!-- Favicon -->

    <!-- Fonts -->
    <link href='/static/det/fonts.css' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/det/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/det/vendors/bootstrap/css/bootstrap-theme.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="/static/det/vendors/font-awesome/css/font-awesome.min.css">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="/static/det/vendors/swiper/css/swiper.min.css">
    <!-- Magnific-popup -->

    <link rel="stylesheet" type="text/css" href="/static/det/style.css">
    <link rel="stylesheet" type="text/css" href="/static/det/css/welcome.css">
    </head>
    <body>


    <div class="wrapper">
        <header id="header"></header>
    </div>

    <section class="section-content">
        <div class="container">
            <div class="row">
                {% for blog in blog_list %}
                    <div class="col-sm-6">
                        <div class="grid-wrapper">
                            <div class="grid-content">
                                <article class="content-item">
                                    <div class="entry-media">
                                        <div class="post-title">
                                            <h2><a href="{% url '/:details' blog.pk %}"
                                                   target="_blank">{{ blog.c_title }}</a></h2>
                                            <div class="entry-date">
                                                <ul>
                                                    <li>
                                                        <a href='#'>作者:{{ blog.c_author }}</a>
                                                    </li>
                                                    <li>{{ blog.c_date }}</li>
                                                    <li>{{ blog.c_views }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="bubble-line"></div>
                                        <div class="post-content">

                                            <img src="/static/img/{{ blog.c_iamge }}" alt="not image">
                                            <p>
                                                {{ blog.c_content|safe|truncatechars_html:100 }}
                                            </p>
                                        </div>
                                        <div class="bubble-line"></div>
                                        <div class="post-footer">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="{% url '/:details' blog.pk %}" target="_blank"
                                                       class="button">强烈打开</a>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <div class="content-social grid">
                                                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:;"><i class="fa fa-pinterest"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>





    <!-- Include jQuery and Scripts -->
    <script type="text/javascript" src="/static/det/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/det/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/det/vendors/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/static/det/vendors/isotope.pkgd.min.js"></script>
    <!-- Swiper -->
    <script type="text/javascript" src="/static/det/vendors/swiper/js/swiper.min.js"></script>
    <!-- Magnific-popup -->
    <script type="text/javascript" src="/static/det/js/scripts.js"></script>
    {% endblock dibu %}
    </body>
</html>	
