{% extends 'jicheng2.html' %}
<!DOCTYPE html>
<html>

<head>
    {% block dibu %}
    <title>技术交流</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
{#    <link href="/static/jslt/css/bootstrap.min.css" rel="stylesheet" type="text/css">#}
{#    <link href="/static/jslt/css/fontawesome.css" rel="stylesheet" type="text/css">#}
    <link href="/static/jslt/css/slick.css" rel="stylesheet" type="text/css">
    <link href="/static/jslt/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <!-- <div id="eskimo-site-wrapper"> -->
        <!-- MAIN CONTAINER -->
        <main id="eskimo-main-container">
            <div class="container">
                <div class="eskimo-carousel-container eskimo-bg-loader">
                    <div id="eskimo-post-slider" class="eskimo-slider">
                        <!-- SLIDE 1 -->
                        {% for cobanner_list in cobanner %}
                            <div>
                                <a class="eskimo-slider-img" href="#"></a>
                                <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                                    <li><a href="#"><span class="badge badge-default">{{ cobanner_list.time }}</span></a></li>
                                </ul>
                                <div class="clearfix"></div>
                                <img src="/static/img/{{ cobanner_list.cover }}"  alt="Ketchup Flavored Ice Cream!" />
                                <div class="eskimo-slider-desc">
                                    <div class="eskimo-slider-desc-inner">
                                        <h2 class="card-title">{{ cobanner_list.title }}</h2>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- BLOG POSTS -->
                <!-- POST 1 -->
                {% for comment_list in comment %}
                    <div class="card card-horizontal">
                        <div class="card-body">
                            <div class="card-horizontal-left">
                                <h3 class="card-title"><a href="{% url '/:fplun' comment_list.pk %}">{{ comment_list.content|safe|truncatechars_html:200 }}</a></h3>
                                <div class="card-horizontal-meta">
                                    <div class="eskimo-author-meta">
                                        <a class="author-meta" href="{% url '/:fplun' comment_list.pk %}">作者:{{ comment_list.user }}</a>
                                    </div>
                                    <div class="eskimo-date-meta">
                                        <a href="{% url '/:fplun' comment_list.pk %}">时间:{{ comment_list.pub_date }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-horizontal-right" data-img="/static/img/{{ comment_list.iamge }}">
                                <a class="card-featured-img" href="#"></a>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </main>
    
    <!-- GO TO TOP BUTTON -->
    <a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- SLIDE PANEL OVERLAY -->
    <div id="eskimo-overlay"></div>
   
    <!-- JS FILES -->
    <script src="/static/jslt/js/jquery-3.3.1.min.js"></script>
    <script src="/static/jslt/js/bootstrap.min.js"></script>
    <script src="/static/jslt/js/salvattore.min.js"></script>
    <script src="/static/jslt/js/slick.min.js"></script>
    <script src="/static/jslt/js/panel.js"></script>
    <script src="/static/jslt/js/reading-position-indicator.js"></script>
    <script src="/static/jslt/js/custom.js"></script>
    <!-- POST SLIDER -->
    <script>
        (function($) {
            "use strict";
            $(document).ready(function() {
                $('#eskimo-post-slider').slick({
                    autoplay: true,
                    autoplaySpeed: 5000,
                    slidesToScroll: 1,
                    adaptiveHeight: true,
                    slidesToShow: 1,
                    arrows: true,
                    dots: false,
                    fade: true
                });
            });
            $(window).on('load', function() {
                $('#eskimo-post-slider').css('opacity', '1');
                $('#eskimo-post-slider').parent().removeClass('eskimo-bg-loader');
            });
        })(jQuery);
    </script>
    {% endblock dibu %}
</body>

</html>